* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #D5F3Fe;
  }

  h1 {
    color: rgb(80, 80, 80);
  }
  
  .tweet {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    color: rgb(80, 80, 80);
  }

  .timeline {
    padding: 24px 60px;
  }
  
  .tweet:not(:last-child) {
    border-bottom: 1px solid #D5F3Fe;
  }
  
  .icon-container {
    width: 1.5em;
    font-size: 3em;
    padding: 0.2em;
  }
  
  .body-container {
    flex: 1;
    padding: 0.5em;
  }
  
  .account-name {
    color: gray;
  }

  .tweet-textarea {
    font-size: 1em;
    width: 100%;
    height: 5em;
    padding: 0.8em;
    resize: vertical;
    margin-top: 16px;
    border: 2px solid rgb(130, 130, 130);
    border-radius: 4px;
  }
  
  .send-tweet {
    font-size: 1em;
    padding: 0.5em 1em;
    border: 2px solid #008CBA;
    border-radius: 4px;
    background-color: #008CBA; 
    color: white;
    box-shadow: 0 5px #666;
    cursor: pointer;
  }

  .send-tweet:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .tweet-input {
    padding: 24px 60px;
  }